ion-content {
    --background: url('../../../assets/glasses-login.jpg') 0 0/100% 100% no-repeat;
  }

  .input-group {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
  }
