<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="head-title">
    <h2 >RESET PASSWORD</h2>
  </div>
 <form [formGroup]="pwdForm" (ngSubmit)="onResetPwd()">
  <ion-label>Enter your email or username to retrieve a new password !</ion-label>
  <div class="input-group">
     
      <ion-input type="text" formControlName="usernameOrEmail"></ion-input>
  </div>

  <ion-button type="submit" [disabled]="!pwdForm.valid" color="primary" expand="block">Reset Password</ion-button>
</form>
  
 

</ion-content>
