.list-divider {
    display: flax;
    justify-content: space-between;
    padding: 5px 10px;
    background:#ebeaea;
    margin-top: 20px; 
}

.normal-font {
    font-size: 1rem;
}

ion-content {
    --background: url('../../../assets/glasses-login.jpg') 0 0/100% 100% no-repeat;
  }